<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="jumbotron">
  

<h3>Update Employee</h3>
<div style="width: 400px;">
  <form  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"novalidate>
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName"  required [(ngModel)]="employee.firstName" placeholder="Enter your First Name" name="firstName" #firstName="ngModel"
      [ngClass]="{ 'is-valid' : firstName.valid && (firstName.dirty || firstName.touched), 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) }" required />

       
    </div>

   
    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control"  placeholder="Enter your Last Name" id="lastName" required [(ngModel)]="employee.lastName" name="lastName" #lastName="ngModel"
      [ngClass]="{ 'is-valid' : lastName.valid && (lastName.dirty || lastName.touched), 'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) }" required />
    </div>


    <div class="form-group">
      <label for="name">Contact Number</label>
      <input type="number" class="form-control" placeholder="Enter your Contact Number"  required [(ngModel)]="employee.emailId" name="emailId">
    </div>

    
    <button type="submit"  [disabled]="!f.form.valid" class="btn btn-success"  >Submit</button><br><br>
    <button type="reset" (click)="revert()" class="btn btn-danger">Cancel</button>
  </form>

  <br>
  <br>

  <div  font>
  <p style="font-size:80%;">*Note:- If you are not able to Register then please change the contact number</p>
</div>
</div>

</div>

</div>

</div>